<% layout('layouts/boilerplate')%>
<!-- Admin Home Page -->
<div class="container">
  <h1 class="text-center">ADMIN</h1>
  <div class="my-5 h-100 d-flex justify-content-center align-items-center">
    <a href="/admin/restaurant" class="btn btn-primary btn-xl mx-2"
      >View Restaurants</a
    >
    <a href="/admin/ngo" class="btn btn-primary btn-xl mx-2">View NGOs</a>
  </div>
  <div class="h-100 d-flex justify-content-center align-items-center">
    <a href="/admin/customer" class="btn btn-primary btn-xl mx-2"
      >View Customers</a
    >
    <a href="/admin/orders" class="btn btn-primary btn-xl mx-2">View Orders</a>
  </div>
  <div class="my-5 h-100 d-flex justify-content-center align-items-center">
    <a href="/admin/windowslot" class="btn btn-primary btn-xl mx-2"
      >Change Time-Window of Restaurants</a
    >
  </div>
</div>
