<% layout('layouts/boilerplate')%>
<!-- Login Form -->
<div
  class="container d-flex justify-content-center align-items-center mt-5 mb-3"
>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
              <div class="input-group">
                <label class="form-label" for="username"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-person-circle mt-2 mx-1"
                    viewBox="0 0 16 16"
                  >
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path
                      fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                    />
                  </svg>
                </label>
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  name="username"
                  placeholder="Username"
                  autofocus
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <label class="form-label" for="password"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-lock-fill mt-2 mx-1"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"
                    />
                  </svg>
                </label>
                <input
                  class="form-control"
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
            </div>
            <button class="btn btn-outline-success btn-block mb-3">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
